.image{
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.product{
    border-radius: 15px;
    box-shadow: 0px 4px 10px 9px rgba(34, 60, 80, 0.2);
    display: flex;
    margin-top: 25px;
}